/* Nav Bar */

.navigation-bar {
    background-color: #041C32;
}

.name-tag {
    text-align: center;
    margin-left: 20px;
}

.my-name {
    color: white;
    font-size: 30px;
}

.my-tagline {
    color: aliceblue;
}

.name-image {
    margin-left: 10%;
}

/* .navbar-brand small {
    display: block;
    font-size: 15px;
    text-align: center;
} */

.my-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contact-list {
    margin-right: 10%;
}

.nav-item {
    padding-left: 40px;
    font-size: large;
}

.navbar-toggler {
    margin-right: 10%;
    margin-left: 10%;
}

/* bottom container */

.bottom-container {
    background-color: #04293A;
    padding: 3% 10%;
}

.heading {
    color: #ECB365;
}

.content {
    color: rgb(200, 200, 200);
}

.content1 {
    color: rgb(150, 150, 150);
}

a:link {
    text-decoration: none;
}